
<ion-header>

    <ion-navbar color="header">
      <ion-title>{{title}}</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding="true" align="center" class="colors">
    
    <form [formGroup]="meals" (ngSubmit)="saveForm()" style="width: 100%">

      <ion-item *ngIf="isDaybook" class='semi-trans'>
        <ion-label>Data*</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY" min="2018" [max]='maxDate' formControlName="date" doneText="OK" cancelText="ANULUJ"></ion-datetime>
      </ion-item>

      <div class="error" *ngIf="(meals.get('date').hasError('required')&&isNotValid)">
          Wybierz datę
        </div>

      <ion-item class='semi-trans'>
        <ion-label>Godzina*</ion-label>
        <ion-datetime type="datetime-local" displayFormat="HH:mm" formControlName="hour" [(ngModel)]="time" doneText="OK" cancelText="ANULUJ"></ion-datetime>
      </ion-item>

      <div class="error" *ngIf="(meals.get('hour').hasError('required')&&isNotValid)">
        Wybierz godzinę
      </div>
      
      <ion-item class='semi-trans'>
        <ion-label>Wybierz rodzaj</ion-label>
        <ion-select formControlName="type" okText="OK" cancelText="ANULUJ">
          <ion-option *ngFor="let c of types" [value]="c">
            {{c}}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item class='semi-trans'>
        <ion-label>Opis</ion-label>
        <ion-textarea  formControlName="description"></ion-textarea>
      </ion-item>

      <button ion-button round icon-start type="submit" color="buttons" block style = "margin-top: 20px">
      {{buttonName}}
    </button>
    </form>

</ion-content>
  