<ion-header>

  <ion-navbar color="header">
    <ion-title>Notatki</ion-title>
    <ion-buttons end style="margin-right: 10px">
      <button ion-button outline (click) = "goToNewNote()">Dodaj notatkę</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="colors">
  <ion-list>
    <ion-item class='semi-trans' *ngFor="let notes of all">
        <ion-list-header align="center" style="align-content: center; width: 100%" class="trans">
            {{notes.category}}
          </ion-list-header>
      <ion-list>    
        <ion-item  style="border-bottom: 3px; border-bottom-color: gray" class="trans" *ngFor="let note of notes.notes" >
          <h2>{{note.date}}</h2>
          <h2 (click)='editNote(note.id)'>{{note.title}} </h2>
          <button ion-button icon-only item-end color="buttons" (click)='editNote(note.id)'><ion-icon name='brush'></ion-icon> </button>     
          <button ion-button icon-only item-end color="buttons" (click)='deleteNote(note)'><ion-icon name='trash'></ion-icon> </button>     
        </ion-item>
      </ion-list>
    </ion-item>
  </ion-list>
</ion-content>
