<ion-header>

  <ion-navbar color="header">
    <ion-title>Notatki</ion-title>
    <ion-buttons end style="margin-right: 10px">
      <button ion-button outline (click) = "goToNewNote()">Dodaj notatkę</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="colors">

  <ion-list *ngFor="let notes of all">
    <ion-item-divider align="center" style="align-content: center; width: 100%" class="trans" (click)= 'loadNotes(notes.category)'>
      {{notes.category}}
    </ion-item-divider>    
    
      <ion-item-sliding *ngFor="let note of notes.notes">
        
        <ion-item  style="border-bottom: 3px; border-bottom-color: gray" class="trans"  >
            <h2>{{note.date}}</h2>
            <h2>{{note.title}} </h2>
        </ion-item>

        <ion-item-options side="right">
          <button ion-button color="buttons" (click)='editNote(note.id)'>
            <ion-icon name="brush"></ion-icon>
            Edytuj
          </button>
          <button ion-button color="danger" (click)='deleteNote(note)'>
            <ion-icon name="trash"></ion-icon>
            Usuń
          </button>    
        </ion-item-options>
        
    </ion-item-sliding>   
  </ion-list>
  
</ion-content>
