//page-home {}




.colors{
    background-color: darken($color: #f1d6e5, $amount: 0);
    height: 100%;
    width: 100%;
    vertical-align: middle;

  }

.semi-trans{
  background-color: rgba($color: #ffffff, $alpha: 0.7)

}

.trans{
  background-color: rgba($color: #ffffff, $alpha: 0)

}
