<ion-header>
    <ion-navbar color="header">
      <ion-title>Prozycje harmonogramów posiłków</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding align="center" class="colors">
      <ion-list>
        <ion-item text-wrap *ngFor="let proposition of propositions" class="semi-trans">
          <h2 white-space:normal>{{proposition.id}}.  {{proposition.when}}</h2>
          <h3>Sugerowana ilość posiłków: {{proposition.amount}}</h3>
          <h3 (click)= "showHideSchedule()"> Proponowany harmonogram </h3>
          <ion-list>
              <ion-item text-wrap style="margin-bottom: -15px" *ngFor="let details of proposition.proposition" class="semi-trans">
              <h4 style="margin-top: 3px">Godzina: {{details.hour}}</h4>
              <h4>Typ posiłku: {{details.type}}</h4>
              <h4>Przykładowy posiłek: {{details.example}}</h4>
            </ion-item>
           </ion-list>
        </ion-item>
      </ion-list>
  </ion-content>
  