
<ion-header>
  <ion-navbar color="header">
    <ion-title>{{title}}</ion-title>
  </ion-navbar> 
</ion-header>
  
  
<ion-content padding="true" align="center" class="colors">
    
  <form [formGroup]="naps" (ngSubmit)="saveNap()" style="width: 100%">
      
    <ion-item *ngIf= "!isSchedule">
      <ion-label>Data</ion-label>
      <ion-datetime  displayFormat="DD-MM-YYYY" min="2018" [max]='maxDate' formControlName="date" ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Początek drzemki</ion-label>
      <ion-datetime type="datetime-local" displayFormat="HH:MM" formControlName="hourStart"></ion-datetime>
    </ion-item>
      
    <ion-item>
      <ion-label>Koniec drzemki</ion-label>
      <ion-datetime type="datetime-local" displayFormat="HH:MM" formControlName="hourStop"></ion-datetime>
    </ion-item>

    <ion-item class="semi-trans" *ngIf= "isSchedule">
      <ion-label>Przewidywany czas drzemki</ion-label>
      <ion-textarea  formControlName="time"></ion-textarea>
    </ion-item>
      
    <button ion-button round icon-start type="submit" color="buttons" block style = "margin-top: 20px" ><ion-icon name="add"></ion-icon>{{buttonName}}</button>
  </form>
</ion-content>