<ion-header>
  <ion-navbar color="header">
    <ion-title>Dziennik przewijania</ion-title>
    <ion-buttons end style="margin-right: 10px">
      <button ion-button outline (click) = "goToNewDiaper()">Dodaj</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding="true" align="center" class="colors">
  <ion-list *ngFor="let day of all">
    <ion-item-divider>
      {{day.date}}
    </ion-item-divider>
    
    <ion-item-sliding  class="trans" *ngFor="let diaper of day.diaper">
      <ion-item>
        <h2>Godzina: {{diaper.hour}}</h2>
        <h2>Stolec: {{getType(diaper.type)}} </h2>
      </ion-item>
          
      <ion-item-options side="right">
        <button ion-button color="buttons" (click)='editDiaper(diaper)'>
          <ion-icon name="brush"></ion-icon>
          Edytuj
        </button>
        <button ion-button color="danger" (click)='deleteDiaper(diaper)'>
          <ion-icon name="trash"></ion-icon>
          Usuń
        </button>    
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>j