<ion-header>
    <ion-navbar color="header">
      <ion-title>Dziennik drzemek</ion-title>
      <ion-buttons end style="margin-right: 10px">
        <button ion-button outline (click) = "goToNewNap()">Dodaj</button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
<ion-content padding="true" align="center" class="colors">
   <ion-list *ngFor="let day of all">
    <ion-item-divider>
      {{day.date}}
    </ion-item-divider>
    
    <ion-item-sliding  class="trans" *ngFor="let nap of day.nap">
      <ion-item>
        <h2>Początek drzemki: {{nap.hourStart}}</h2>
        <h2>Koniec drzemki: {{nap.hourStop}} </h2>
        <h3>Czas trwania: {{nap.time}}</h3>
      </ion-item>
          
      <ion-item-options side="right">
        <button ion-button color="buttons" (click)='editNap(nap)'>
          <ion-icon name="brush"></ion-icon>
          Edytuj
        </button>
        <button ion-button color="danger" (click)='deleteNap(nap)'>
          <ion-icon name="trash"></ion-icon>
          Usuń
        </button>    
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
