<ion-header>
  <ion-navbar color="header">
    <ion-title>Poradnik żywieniowy</ion-title>
    <ion-buttons end style="margin-right: 10px">
      <button ion-button outline *ngIf="showProducts" (click)= "RulesShowHide()">Zasady żywieniowe</button>
      <button ion-button outline *ngIf="showRules" (click)= "ProductsShowHide()">Lista produktów</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding align="center" class="colors">
  
  <ion-list *ngIf="showRules">
    <ion-item text-wrap *ngFor="let rule of rulesList" class="semi-trans">
      <h2 white-space:normal style="margin-top: 3px">{{rule.id}}. {{rule.content}} </h2>
    </ion-item>
  </ion-list>

  <ion-toolbar *ngIf="showProducts" no-border-top>
    <ion-searchbar placeholder="Znajdź produkt" (ionInput)="filterItems($event)"></ion-searchbar>
  </ion-toolbar>

  <ion-list *ngIf="showProducts">
    <ion-item text-wrap *ngFor="let product of filtred" class="semi-trans">
      <h2 white-space:normal style="margin-top: 3px">{{product.name}}</h2>
      <h2>{{product.time}}</h2>
    </ion-item>
  </ion-list>

</ion-content>
