<ion-header>

  <ion-navbar color="header">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding="true" align="center" class="colors">
  
   <form [formGroup]="diapers" (ngSubmit)="saveForm()" style="width: 100%">

    <ion-item class='semi-trans'>
      <ion-label>Data*</ion-label>
      <ion-datetime displayFormat="DD-MM-YYYY" min="2018" [max]='maxDate' formControlName="date" doneText="OK" cancelText="ANULUJ"></ion-datetime>
    </ion-item>

    <div class="error" *ngIf="(diapers.get('date').hasError('required')&&isNotValid)">
      Wybierz datę
    </div>

    <ion-item class='semi-trans'>
      <ion-label>Godzina*</ion-label>
      <ion-datetime type="datetime-local" displayFormat="HH:mm" formControlName="hour"  doneText="OK" cancelText="ANULUJ"></ion-datetime>
    </ion-item>

    <div class="error" *ngIf="(diapers.get('hour').hasError('required')&&isNotValid)">
      Wybierz godzinę
    </div>
    
    <ion-item class='semi-trans'>
      <ion-label>Był stolec</ion-label>
      <ion-checkbox formControlName="type" ></ion-checkbox>
    </ion-item>

    <button ion-button round icon-start type="submit" color="buttons" block style = "margin-top: 20px">{{buttonName}}</button>
   </form>

  
</ion-content>