page-tutorial{
  ion-select{
    max-width: 70% !important;
}
}

.ios, .md {
 
    page-tutorial {

   
      ion-slide img {
        height: 70vh !important;
        width: auto !important;
      }
   
    }
   
  }


  .ion-select{
    max-width: 100% !important;
    width: 100% !important;
} 